<div class='row'>
	<div class='col-sm-5'>
		<h1 style='text-align:center;'>Dataset</h1>
		
		<ul>
		  <li>WebWorK Open Problem Library</li>
		  <li>Online homework system for individualized math problems</li>
		  <li>25,000 university level mathematics problems</li>
		  <li>All problems have associated metainfo for indexing purposes</li>
		  <li>82% of problems have been tagged with descriptive keywords</li>
		  <li>2,200 different tags
		  <li>1-16 tags per problem
		</ul>
		
	</div>
	<div class='col-sm-5'>
		<h1 style='text-align:center;'>Sample Problem</h1>
		<pre><code>## DESCRIPTION
## Calculus
## ENDDESCRIPTION

## Tagged by tda2d

## DBsubject(Calculus - single variable)
## DBchapter(Integrals)
## DBsection(Definite integrals (with trigonometric functions))
## Date(6/3/2002)
## Institution(ASU)
## KEYWORDS('definite integral','Calculus','Riemann Integral','integrals','definite')


Evaluate the integral
\[ \int_{1}^{\sqrt{$a}} \frac{$b}{1+x^2} dx \]
$BR \{ans_rule( 40)\}
EOT

$answer=$b*(arctan(sqrt($a))-arctan(1));

ANS(num_cmp($answer));
</code></pre>

	</div>
</div>