<div class='row'>
	<div class='col-sm-12'>
		<br>
		<h1 style='text-align:center;'>Most frequent LaTeX tokens</h1>
		<p>
		  Click on a keyword to see the 10 LaTeX tokens that appear most frequently with that tag. These tokens were used as features
		  to train the linear support vector classifiers.
		</p>
		{% for kw in keywords %}
		  <code id="{{ kw }}" style='margin-left:15px;'> {{ kw }} </code>
		  <script>
		  $("#{{kw}}").click(function(){get_tokens( "{{ kw }}" );});
		  </script>
		{% endfor %}
	</div> 
</div>
<br>
<div class="row">
	<div id="tokens" class='col-sm-12' style='text-align:center;'></div>
</div>