<div class='row'>
	<div class='col-sm-12'>
		<h1 style='text-align:center;'>Approach</h1>
		<p>Predicting multiple tags for specific math questions is a multi-label classification problem</p>
		<ul>
		  <li>Parse each question file to extract the keywords and question text</li>
		  <li>Parse each question's text to extract embedded LaTeX expressions</li>
		  <li>Tokenize question text and LaTeX expressions</li>
		  <li>Train classifiers using One-vs-the-rest (OvR) multiclass/multilabel strategy 
		    <ul>
		  	  <li>Also known as the binary relevance method, consists of fitting one classifier per class</li>
			</ul>
		  </li>
		  <li>Naive Bayes and SVM with linear kernel</li>
		</ul>
	</div> 
</div>