<!doctype html>

<html lang="en">
<head>
  <!-- Bootstrap meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Descriptive meta -->
  <meta name="description" content="Data Incubator personal project">
  <meta name="author" content="Luigi Patruno">
  
  <!-- Bootstrap stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://getbootstrap.com/examples/blog/blog.css">
  		

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
	
  <!-- Header nav bar -->
  <div class="blog-masthead">
    <div class="container">
	  <nav class="blog-nav">
        <a class="blog-nav-item" href="{{url_for('index')}}">Home</a>
        <a class="blog-nav-item" href="{{url_for('about')}}">Analysis</a>
		<a class="blog-nav-item active" href="{{url_for('biography')}}">About Me</a>
      </nav>
    </div>
  </div>

  <!-- Main Container -->
  <div class="container">

    <!-- Header text -->
    <div class="blog-header">
      <h1 class="blog-title">Luigi Patruno</h1>
    </div>
	
	<div class="row">

	  <div class="col-sm-12 blog-main">
		  
        <div class="blog-post">
			
		  
		  <div class="row">
			  
  			<div class="col-sm-4">
  				<img src="static/img/luigi.png" class="featurette-image img-responsive img-rounded">
  		    </div>
			  
  		    <div class="col-sm-8">
  		    	<p>
  					<strong>Hi!</strong> I'm currently a research assistant in the Wireless Sensor Data Mining (WISDM) 
  					lab within the Department of Computer and Information Science at Fordham University. The lab focuses on 
  					activity recognition using smartphone sensors as well as the sensors from other wireless devices including 
  					smart wearables. I also completed my undergraduate education at Fordham University having studied mathematics
  					and computer science.
  				</p>
  				<p>To learn more about WISDM check out the <a href="http://www.cis.fordham.edu/wisdm/">website</a>. 
  					If you would like to learn more about me, check out my 
  					<a href="https://www.linkedin.com/in/luigipatruno91">LinkedIn</a> page or feel free to shoot me
  					an email at luigi dot patruno dot 91 at gmail dot com.
  		    </div> 
			  
		  </div>
		   
	    </div>
		
      </div> <!-- /.blog-main -->

    </div><!-- /.row -->

  </div><!-- /.main container -->


</body>
</html>