<!doctype html>

<html lang="en">
<head>
  <!-- Bootstrap meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Descriptive meta -->
  <meta name="description" content="Data Incubator personal project">
  <meta name="author" content="Luigi Patruno">
  
  <!-- Bootstrap stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://getbootstrap.com/examples/blog/blog.css">
  
  <!-- MathJax -->
  <script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
	
  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>	
  
  <!-- Personal Javascript -->
  <script src="static/functions.js"></script>	

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
	
  <!-- Header nav bar -->
  <div class="blog-masthead">
    <div class="container">
	  <nav class="blog-nav">
        <a class="blog-nav-item active" href="#">Home</a>
        <a class="blog-nav-item" href="#">About</a>
      </nav>
    </div>
  </div>

  <!-- Main Container -->
  <div class="container">

    <!-- Header text -->
    <div class="blog-header">
      <h1 class="blog-title">Math Taggr</h1>
      <p class="lead blog-description">Automatically tag math problems with descriptive tags
    </div>
	
	<div class="row">

	  <div class="col-sm-12 blog-main">
		  
        <div class="blog-post">
			
		  <div class="row">
			  <div class='col-sm-4'>
				  <h3>Human assigned tags</h3>
				  <div id='keywords'></div>
			  </div>
			  <div class='col-sm-4'>
				  <h3>Human assigned tags</h3>
				  <div id='keywords'></div>
			  </div>
			  <div class='col-sm-4'>
				  <h3>Human assigned tags</h3>
				  <div id='keywords'></div>
			  </div>
		  </div>
		  
  		  <div class="row">
  			  <div id='questionText' class='col-sm-10 col-sm-offset-1'></div>
		  </div>
	      
		  <!-- 
		  <div class="row">
			  
			  <div id='questionText' class='col-sm-6'></div>
			  
			  <div class='col-sm-4'>
				  <h3>Human assigned tags</h3>
				  <div id='keywords'></div>
				  <br><h3>Model 1 Prediction</h3>
				  <br><h3>Model 2 Prediction</h3>
			  </div>
			  
			  <div class='col-sm-2'>
				  <button id='newQuestion' type="button" class="btn btn-primary pull-right">New Question</button>
			  </div>
			  
		  </div>
		   -->
	    </div>
		
      </div> <!-- /.blog-main -->
	  
	  
	  <!-- Comment out 
	  <div class="col-sm-2 col-sm-offset-1 blog-sidebar">
	    <div class="sidebar-module sidebar-module-inset">
	      <h4>About</h4>
	      <p>Luigi Patruno is a Fellow at The Data Incubator NYC. This project grew out of his passion to improve STEM education and get more 
			  people excited about learning mathematics.</p>
	    </div>		
	  </div --><!-- /.blog-sidebar -->

    </div><!-- /.row -->

  </div><!-- /.main container -->


</body>
</html>